  .container {
            padding: 20px;
            border: 2px solid black;
            font-size: 24px;
        }

        .container::before {
            content: "Before Element";
            color: red;
        }

        .container::after {
            content: "After Element";
            color: blue;
        }